<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" required name="first-name" ngModel>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name" required name="last-name" ngModel>
        </div>
        <div class="col">
            <input type="email" class="form-control" placeholder="email" name="email" required ngModel>
        </div>
        <div class="col">
            <input type="email" class="form-control" placeholder="image-link" name="avatar" ngModel>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add User</button>
        </div>

    </div>
    
</form>